
bin/

obj/
/.vs/BatchProcess/CopilotIndices/17.14.1347.20289/CodeChunks.db
/.vs/BatchProcess/CopilotIndices/17.14.1347.20289/CodeChunks.db-shm
/.vs/BatchProcess/CopilotIndices/17.14.1347.20289/CodeChunks.db-wal
/.vs/BatchProcess/CopilotIndices/17.14.1347.20289/SemanticSymbols.db
/.vs/BatchProcess/CopilotIndices/17.14.1347.20289/SemanticSymbols.db-shm
/.vs/BatchProcess/CopilotIndices/17.14.1347.20289/SemanticSymbols.db-wal
/.vs/BatchProcess/DesignTimeBuild/.dtbcache.v2
/.vs/BatchProcess/FileContentIndex/774f0672-a2d9-4d62-ade6-960bdb8cd9cb.vsidx
/.vs/BatchProcess/FileContentIndex/abcb538a-bfab-4aa6-9df9-f4cd414218ec.vsidx
/.vs/BatchProcess/FileContentIndex/af7161f7-8c6c-4bd0-9290-bb42f6011e55.vsidx
/.vs/BatchProcess/FileContentIndex/b4bf913f-09c8-4e48-9122-24dfa8991531.vsidx
/.vs/BatchProcess/FileContentIndex/b57cdf82-915c-4864-a7bd-feb7166c1787.vsidx
/.vs/BatchProcess/v17/.futdcache.v2
/.vs/BatchProcess/v17/.suo
/.vs/BatchProcess/v17/DocumentLayout.backup.json
/.vs/BatchProcess/v17/DocumentLayout.json
/.vs/ProjectEvaluation/batchprocess.metadata.v9.bin
/.vs/ProjectEvaluation/batchprocess.projects.v9.bin
/.vs/ProjectEvaluation/batchprocess.strings.v9.bin
/.vs/BatchProcess/FileContentIndex/590ccf66-2da7-4360-b815-b5df4088281b.vsidx
/.vs/BatchProcess/FileContentIndex/72071b8c-36d7-4388-a02f-a6f26bceca47.vsidx
/.vs/BatchProcess/FileContentIndex/98940924-868b-414e-9169-5c2f1425e02a.vsidx
/.vs/BatchProcess/FileContentIndex/ed20a600-6484-487d-8d1c-e830d91fec33.vsidx
